@theme: #3f51b5;
@lightgrey: #ccc;
@grey: #777;
@shadow: 0 2px 4px -1px rgba(0, 0, 0, .2),
0 4px 5px 0 rgba(0, 0, 0, .14),
0 1px 10px 0 rgba(0, 0, 0, .12);
.app-select {
  display: block;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  width: 100%;
  min-width: 250px;
  &.disabled {
    opacity: .5;
    cursor: default;
    .app-select__selected:after {
      display: none;
    }
  }
  &.multiselect {
    .app-select__selected {
      .selected {
        display: inline-block;
        margin-right: 2px;
        background: lightblue;
      }
    }
  }
  &.open {
    .app-select__selected {
      z-index: 101;
    }
    .app-select__options {
      .overlay {
        display: block;
      }
      .app-select__options__option {
        z-index: 101;
      }
    }
  }
  .app-select__selected {
    display: block;
    width: 100%;
    background: white data-uri('angle-down.svg') no-repeat;
    filter: grayscale(1);
    border-bottom: 1px solid @grey;
    background-size: 10px;
    background-position: 95% 50%;
    font-size: inherit;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: 50%;
      left: 50%;
      border-bottom: 2px solid @theme;
      transition: all 150ms ease-in-out;
    }
    &:focus {
      filter: grayscale(0);
      outline: none;
      &:after {
        right: 0%;
        left: 0%;
      }
    }
    .placeholder {
      opacity: .5;
      padding: 8px 16px;
      display: inline-block;
    }
    .selected {
      display: block;
      padding: 8px 16px;
    }
  }
  .app-select__options {
    margin-top: 4px;
    border-radius: 4px;
    box-shadow: @shadow;
    overflow: auto;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 100;
      cursor: default;
    }
    .app-select__options__option {
      display: block;
      position: relative;
      background: white;
      &:hover .title,
      input:focus+.title {
        background-color: lighten(@theme, 45%);
        ;
      }
      input:checked+.title {
        background-color: lighten(@theme, 40%);
        color: @theme;
      }
      input:disabled+.title {
        background-color: @lightgrey;
        color: @grey;
        cursor: default;
      }
      .title {
        cursor: pointer;
        display: block;
        padding: 8px 16px;
        font-size: inherit;
        &.none {
          opacity: .5;
        }
      }
    }
  }
}