<section class="content">
  <h1>Search car</h1>

  <form class="search-car" [formGroup]="form">
    <label class="full-name">
      <input type="text" formControlName="fullAutoName" placeholder="Full name">
      <span class="ripple"></span>
    </label>

    <app-select [options]="brands" formControlName="selectedBrand" placeholder="Brand"></app-select>

    <app-select [options]="getOptions('selectedBrand')" formControlName="selectedModel" placeholder="Model">
    </app-select>

    <app-select [options]="getOptions('selectedModel')" formControlName="selectedYear" placeholder="Years"></app-select>

    <app-select [options]="getOptions('selectedYear')" formControlName="selectedGen" placeholder="Generation">
    </app-select>

  </form>
</section>